*~
.DS_Store
*.iml
.idea
templates
build
scripts
public
repo

.gradle
/local.properties
/gradle.properties
/.idea
/build
/captures
.externalNativeBuild
/icon.png
/bin
.classpath
.project
.settings/org.eclipse.buildship.core.prefs

out/